<h2>All users</h2>

<ul>
  <% data.forEach(function (user) { %>
    <li>
      <%= 'Username: ' + user.username %> <br>
      <%= 'Name: ' + user.name %> <br>
      <%= 'Email: ' + user.email %> <br>
    </li>
  <% }) %>
</ul>
