<form class="new-user" action="/users" method="post">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="usernameInput">User Name</label>
      <input type="text" class="form-control" id="usernameInput" placeholder="User Name" name="user[username]">
    </div>
    <div class="form-group col-md-4">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput" placeholder="Name" name="user[name]">
    </div>
    <div class="form-group col-md-4">
      <label for="emailInput">Email</label>
      <input type="email" class="form-control" id="emailInput" placeholder="Email" name="user[email]">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
